@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/regular.min.css');

body {
  margin: 0;
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;

  background: #e9e9e9;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  max-width: 80vw;
  padding: 30px 60px;
  background: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.2s;
  user-select: none;
}

.App:hover {
  transform: translateY(-4px);
}

.App:active {
  transform: scale(0.97);
}

.App h1 {
  margin-bottom: 20px;
  font-size: 6vw;
}

* {
  margin: 0;
  padding: 0;
}
